<div class="d-flex vh-100" id="content-wrapper">
  <div id="sidebar-container" class="border-right sidebar-container">
    <app-sidebar></app-sidebar>
  </div>
  <div
    id="page-content-wrapper"
    class="w-100 bg-light-blue"
    style="background-color: #f0f0f0"
  >
    <app-head-nav> </app-head-nav>
    <div class="container">

      <div class="row" style="padding: 35px;">
        <h2>Add friend</h2>
      </div>


      <div class="row" style="margin-bottom: 30px;margin-top: 30px;">
        <div class="col-3 mx-auto">
          <div class="input-group rounded">
            <input  [(ngModel)]="username"
            id="username"
            type="text"
            placeholder="Username" type="search" class="form-control rounded" aria-label="Search" aria-describedby="search-addon" />
            <span (click)="searchUser()" class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </span>
            <span *ngIf="this.state"
              (click)="allUsers()" class="input-group-text border-0" id="search-addon">
              <i class="fas fa-xmark"></i>
            </span>

          </div>
        </div>
      </div>

      <div class="row">
        <div
          class="col-lg-4 row-cards"
          *ngFor="let user of users"
          style="flex-wrap: wrap"
        >
          <div (click)="userProfile(user)"
            class="single_advisor_profile wow fadeInUp"
            data-wow-delay="0.4s"
            style="
              visibility: visible;
              animation-delay: 0.4s;
              animation-name: fadeInUp;
            "
          >
            <!-- Team Thumb-->
            <div class="advisor_thumb ">
              <div>
                <img class="rounded-circle mb-5"
                style="height: 200px; width: 200px;"
                src="{{ user.image }}"
                onerror="this.onerror=null;this.src='assets/default.jpg';"
                alt=""
              />
              </div>
             
              <!-- Social Info-->
              <div class="social-info">
                <a href="#"><i class="fa fa-facebook"></i></a
                ><a href="#"><i class="fa fa-twitter"></i></a
                ><a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
            <!-- Team Details-->
            <div class="single_advisor_details_info">
              <h6 style="text-transform: uppercase">{{ user.username }}</h6>
              <p class="designation">{{ user.email }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
