<div class="d-flex" id="content-wrapper">
    <div id="sidebar-container" class="border-right sidebar-container">
        <app-sidebar></app-sidebar>
    </div>
    <div id="page-content-wrapper" class="w-100 bg-light-blue">
        <app-head-nav> </app-head-nav>
        <div class="row justify-content-md-center">
            <div class="col col-lg-5" style=" background-size: cover;">
                <h2>
                    Click to modify your profile
                </h2>
                <button [hidden]="state" class="btn btn-warning" (click)="changeData()">Change data profile</button>
                <form>
                    <div class="form-group">
                        <label [hidden]="!state">Username : </label>
                        <input [hidden]="!state" type="text" class="form-control" id="username"  name="username" [(ngModel)]="this.user.username">
                    </div>
                    <div class="form-group">
                        <label [hidden]="!state">Email : </label>
                        <input [hidden]="!state" type="text" class="form-control" id="email"  name="email" [(ngModel)]="this.user.email">
                    </div>
                    <div class="form-group">
                        <label [hidden]="!state">Phone number : </label>
                        <input [hidden]="!state" type="number" class="form-control" id="phone" 
                            name="phone" [(ngModel)]="this.user.phone">
                    </div>
                    

                    <button [hidden]="!state" class="btn btn-danger" >Clean</button>
                    <button (click)="updateUser()" [hidden]="!state" class="btn btn-warning" style="position: relative; left:5px;" >Update</button>

                </form>
            </div>
            <div class="col col-lg-3">
                <h2>
                    New password?
                </h2>
                <button [hidden]="!state" class="btn btn-warning" (click)="changePassword()" >Change password</button>
                <p [hidden]="state">Introduce tu nueva contraseña y repitela en el siguiente formulario</p>
                <form>
                    <div class="form-group">
                        <label [hidden]="state">Password: </label>
                        <input [hidden]="state" type="password" class="form-control" id="password" name="password" [(ngModel)]="this.user.password">
                    </div>
                    <div class="form-group">
                        <label [hidden]="state">Repite password: </label>
                        <input [hidden]="state" type="password" class="form-control" id="password2" name="password2" [(ngModel)]="this.user.password2">
                    </div>
                    <button (click)="updatePassword()"[hidden]="state" class="btn btn-warning" >Update</button>
                </form>
            </div>
        </div>
    </div>
</div>