<div class="d-flex" id="content-wrapper">
  <div id="sidebar-container" class="border-right sidebar-container">
    <app-sidebar></app-sidebar>
  </div>
  <div id="page-content-wrapper" class="w-100 bg-light-blue">
    <app-head-nav> </app-head-nav>
    <div class="container bg-light" style=" background-size: cover;">
      <div class="row">
        <h3 style="text-align:center; margin-top:20px; margin-bottom:20px;">Users Management</h3>
        <div class="col-sm-8">
          <div class="container">
            <div class="table-responsive">
              <div class="col-sm-8">
                <table id="example" class="table table-striped" style="width:100%">
                  <thead>
                    <tr>
                      <th>Image</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Phone Number</th>
                      <th>Type</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr (click)="loadUser(user)" *ngFor="let user of displayData">
                      <td style="vertical-align: middle; text-align:center">
                        <div style="vertical-align: middle;" style="height:55px; width:55px;">
                          <img class="img-account-profile rounded-circle mb-5" src="{{user.image}}"
                            style="height:55px; width:55px;">
                        </div>
                      </td>
                      <td>{{user.username}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.phone}}</td>
                      <td>{{user.type}}</td>
                    </tr>
                  </tbody>
                </table>

                <span>
                  <button class="badge badge-light" style="color: black;margin-right:5px" (click)="PrevPage()"><a
                      class="page-link">Previous</a></button>
                  <button class="badge badge-primary" *ngFor="let usuario of pageArray">
                    <a class="page-item" #pageNo (click)="goToPage(pageNo.innerHTML)" style="margin-right:3px;">
                      {{pageNo}}
                    </a>
                  </button>
                  <button class="badge badge-light" style="color: black;margin-right:5px" (click)="nextPage()"><a
                      class="page-link">Next</a></button>
                </span>

                <div class="clearfix">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div style="text-align:center"><img class="img-account-profile rounded-circle mb-5"
              src="{{user.image}}"
              onerror="this.onerror=null; this.src='assets/default.jpg';" style="height:100px; width:100px" alt="" />
            
            <div class="small font-italic text-muted mb-4">
              JPG or PNG no larger than 5 MB
            </div>
            <!-- Profile picture upload button-->
            <input [disabled]="state" class="input-file" type="file" accept="image/*"
              (change)="onFileSelected($event)" />
          </div>
          <form>
            <div class="form-group">
              <label>Username : </label>
              <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="user.username">
            </div>

            <div class="form-group">
              <label>Email : </label>
              <input type="text" class="form-control" id="email" name="email" [(ngModel)]="user.email">
            </div>

            <div class="form-group">
              <label>Phone number : </label>
              <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="user.phone">
            </div>

            <div class="form-group">
              <label>Type : </label>

              <select class="form-control" [(ngModel)]="user.type" [ngModelOptions]="{standalone: true}">
                <option value="user">user</option>
                <option value="admin">admin</option>
              </select>


            </div>
            <div style="text-align:center">
              <button [disabled]="state" class="btn btn-warning" style="margin: 10px; color:white"
                (click)="updateUser(user)">
                <i class="fa-solid fa-floppy-disk fa-lg" style="color: #ffffff;margin-right:10px"></i>Update
              </button>
              <button [disabled]="state" class="btn btn-danger" style="margin: 10px" (click)="deleteUser(user)">
                <i class="fa-solid fa-trash-can fa-lg" style="color: #ffffff;margin-right:10px"></i>Delete
              </button>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>
</div>