<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="page-wrapper bg-dark p-t-100 p-b-50">
  <div class="wrapper wrapper--w900">
    <div class="card card-6">
      <div class="card-heading">
        <h2 *ngIf="creation" class="title">CREATE NEW NOTE</h2>
        <h2 *ngIf="!creation && update" class="title">EDIT NOTE</h2>
      </div>
      <div class="card-body">
        <form>
          <div class="form-row">
            <div class="name">Note Title</div>
            <div class="value">
              <input [disabled]="!creation && !update" name="full_name" type="text" [(ngModel)]="note.title"
                class="input--style-6" id="note-title" placeholder="Note title here" required />
            </div>
          </div>
          <div class="form-row">
            <div class="name">Tag</div>
            <div class="value">
              <div class="input-group">
                <select [disabled]="!creation && !update" class="form-control" [(ngModel)]="note.tag" [ngModelOptions]="{standalone: true}">
                  <option value="Shopping">Shopping</option>
                  <option value="Work">Work</option>
                  <option value="Diary" selected>Diary</option>
                  <option value="Other">Other</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="name">Message</div>
            <div class="value">
              <div class="input-group">
                <textarea [disabled]="!creation && !update" class="textarea--style-6" name="message"
                  placeholder="Message of the note" [(ngModel)]="note.text" id="message"></textarea>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="name">image</div>
            <div class="value">
              <div class="input-group js-input-file">
                <input class="input-file" type="file" accept="image/*" (change)="onFileSelected($event)" name="file_cv"
                  id="file" />
                <label class="label--file" for="file">Choose file</label>
              </div>
              <div class="label--desc">Upload an image.</div>
              <img style="width: 50%;height:auto" src="{{note.image}}"
                onerror="this.onerror=null;this.src='assets/default.png';" alt="" />
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer" style="text-align: center">
        <button (click)="createNote()" *ngIf="creation" type="button" class="btn btn--radius-2 btn--green"
          style="margin-right: 10px">
          <small class="font-weight-bold">Save Note</small>
        </button>
        <button (click)="updateNote()" *ngIf="!creation && update " type="button" class="btn btn--radius-2 btn--blue-2"
          style="margin-right: 10px">
          <small class="font-weight-bold">Update Note</small>
        </button>

        <button (click)="deleteNote()" *ngIf="!creation && update && owner" type="button"
          class="btn btn--radius-2 btn--red" style="margin-right: 10px">
          <small class="font-weight-bold">Delete Note</small>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Jquery JS-->
<script src="./vendor/jquery/jquery.min.js"></script>
<!-- Main JS-->
<!-- <script src="js/global.js"></script> -->