<div class="d-flex" id="content-wrapper">
    <div id="page-content-wrapper" class="w-100 bg-light-blue">
        <app-head-nav></app-head-nav>
    <div class="row" style="background-color:floralwhite; height: 100%;">
        <div class="btn-center">
            <button class="btn btn-success" >Add note</button>
        </div>
        
        <div class="col-lg-4 row-cards" *ngFor="let note of notes">
            <div class="card text-center" (click)="show()" >
                <div class="card-header">
                    {{note.tag}}
                </div>
                <div class="card-body" style="height: 320px;">
                    <h5 class="card-title">{{note.title}}</h5>
                    <p id="text-mitad" class="card-text">{{note.text.substring(0,60)}}.....</p>  
                    <img class="img-card" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/los-mejores-restaurantes-que-tienes-que-probar-en-madrid-1644914076.jpeg">
                    <p class="card-text" style="font-size: 11px; ">Autor: {{note.idUser}}</p>
                </div>
                <div class="card-footer text-muted" style="display: flex;">
                    <div style="width: 100%;">
                       Created at:  {{note.created_at.toString().substring(0,10)}}
                       <br>
                       Last update at: {{note.updated_at.toString().substring(0,10)}}
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    
        
    
</div>
