

.text-center{
    margin: auto;
    width: 80%; 
    
    margin-top: 20px;  
}

.img-card{
    width: 60%;
    height: 60%;
    margin-bottom: 10px;
}
.btn-success{
    align-self: center;
}
.btn-center{
    margin-top: 15px;
    display: flex;
  justify-content: center;
  /* Asegura que el contenedor ocupe toda la altura de su contenedor padre */
}
