<div class="d-flex" id="content-wrapper">
    <div id="page-content-wrapper" class="w-100 bg-light-blue">
        <app-head-nav></app-head-nav>
    <div class="row" style="background-color:#f0f0f0; height: 100%;">
        <div class="btn-center">
            <button class="btn btn-success"(click)="createNote()" >Add note</button>
        </div>
        <div class="col-lg-4 row-cards" *ngFor="let note of notes">
            <div class="col-md-11" style="margin: auto;">
                <div class="card p-3 mb-2" style="max-height: 450px;">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <img class="img-card" src="https://www.pngarts.com/files/5/User-Avatar-PNG-Transparent-Image.png">
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">{{note.idUser}}</h6> <span>{{note.created_at.toString().substring(0,10)}}</span>
                            </div>                            </div>
                        <div class="badge"> <span>{{note.tag}}</span> </div>
                    </div>
                    <div class="mt-5">
                        <h3 class="heading">{{note.title}}</h3>
                        <p>{{note.text.substring(0,25)}}.....</p>
                        <img style="width: 90%;"src={{note.image}}>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
        
        
        
    </div>
    
        
    
</div>
