<div class="d-flex" id="content-wrapper">
  <div id="sidebar-container" class="border-right sidebar-container">
    <app-sidebar></app-sidebar>
  </div>
  <div id="page-content-wrapper" class="w-100 bg-light-blue" style="background-color: #f0f0f0">
    <app-head-nav> </app-head-nav>
    <div class="container vh-100" >
      <div class="row vh-100">
        <div>
          <div class="user-data">
            <h4>{{ user.username }}</h4>
            <h4>{{ user.email }}</h4>
            <img
              style="height: 120px; width: 180px"
              src="https://www.pngarts.com/files/5/User-Avatar-PNG-Transparent-Image.png"
            />
          </div>
          <div *ngIf="!hasRequested && !areFriends" class="user-data">
            <button (click)="sendFriendshipRequest()" class="btn btn-success">
              Send friendship request
            </button>
          </div>
          <div *ngIf="hasRequested && !areFriends" class="user-data">
            <button
              style="margin-right: 10px"
              (click)="accept()"
              class="btn btn-success"
            >
              Accept request
            </button>
            <button (click)="reject()" class="btn btn-danger">
              Reject request
            </button>
          </div>
          <div *ngIf="!hasRequested && areFriends" class="user-data">
            <p>Friends already</p>
          </div>
          <div *ngIf="hasRequested && areFriends" class="user-data">
            <p>Friend request waiting to be accepted/rejected</p>
          </div>
        </div>
        <div
          style="margin-top: 10px"
          class="col-lg-4 row-cards"
          *ngFor="let note of notes"
        >
          <div class="col-md-11" style="margin: auto">
            <div class="card p-3 mb-2" style="max-height: 450px">
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-row align-items-center">
                  <img
                    class="img-card"
                    src="https://www.pngarts.com/files/5/User-Avatar-PNG-Transparent-Image.png"
                  />
                  <div class="ms-2 c-details">
                    <h6 class="mb-0">{{ note.idUser }}</h6>
                    <span>{{
                      note.created_at.toString().substring(0, 10)
                    }}</span>
                  </div>
                </div>
                <div class="badge">
                  <span>{{ note.tag }}</span>
                </div>
              </div>
              <div class="mt-5">
                <h3 class="heading">{{ note.title }}</h3>
                <p>{{ note.text.substring(0, 25) }}.....</p>
                <img style="width: 90%" src="{{ note.image }}" />
              </div>
              <button class="btn btn-success" (click)="requestNote(note)">Request note</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
